@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  font-family: "Open Sans";
  color: #222222;
}

.header {
    background: repeating-linear-gradient(
      45deg,
      #222222,
      #222222 20px,
      #292929 20px,
      #292929 40px
    );
  height: 40vh;
  display: flex;
  align-items: center;
  box-shadow: inset 0px -60px 40px -50px #00000099;
}

.headerContent {
  margin: 0 auto;
  width: 512px;
  color: #f8f8f8;
  display: flex;
}

.logo {
  height: 200px;
}

.logo img {
  height: 100%;
}

.title {
  padding: 0 3rem;
}

.title h1 {
  margin: 0;
  padding: 2rem 0 0.5rem 0;
}

.title p {
  margin: 0;
  padding: 0 ;
  width: 400px;
  font-size: 1.1em;
  opacity: 0.8;
}

.title a {
  margin-top: 1rem;
  padding-bottom: 0.2rem;
  color: #ffa732;
  font-weight: 600;
  font-size: 1.1em;
  text-decoration: none;
  display: inline-block;
  border-bottom: dotted 1px #ffa732;
}