html,
body {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

.main {
  margin: 0 auto;
  padding: 4rem;
  max-width: 512px;
}

.demo {
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 3px 3px 0 #00000055;
  margin-bottom: 4rem;
}